.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.about img {
  border: 3px solid #000;
  border-radius: 100%;
  max-width: 60%;
}

.about__info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.about__info__name {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #333;
}

.info__keys p {
  font-weight: 600;
  color: #333;
}

.info__values p {
  font-weight: 600;
  color: #0062cc;
}