.dialogues__messages {
  background-color: #e6eaea;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.sendForm {
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.sendForm textarea {
  width: 100%;
  max-width: 100%;
}